@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.owl-carousel img{
    width: 100%;
    height: 100vh;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100vh;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.carousel-container h1{
    font-size: 50px;
    padding-bottom: 0;
}
.carousel-container p{
    padding-top: 0;
}
.know-more-btn{
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 30px 10px;
    background-color: transparent;
    color: #fff;
}
.know-more-btn:hover{
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 30px 10px;
    background-color: #fff;
    color: #f37039;
}


.media .img-hvr{
    border: 1px solid transparent;
}
.media .img-hvr:hover{
    border: 1px solid #f37039;
    cursor: pointer;
}
.media .media-body h6{
    font-size: 15px;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(http://musemaster.net/creative-agency-muse/CA-Onepage/images/entrepreneur-593358_1920.jpg?crc=290514243);
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.section-education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_960_720.jpg);
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(http://musemaster.net/creative-agency-muse/CA-Onepage/images/21610411169_5fefc5b362_o.jpg?crc=206793983);
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.on-hvr-color:hover{
    color: #f37039;
}
.on-hvr-link-color{
    color: #fff;
}
.on-hvr-link-color:hover{
    color: #f37039;
}

input[type='text'],input[type='email']{
    width: 100%;
    padding: 10px 20px 10px;
    background-color: transparent;
    border: 1px solid #999999;
    font-weight: lighter;
}
input[type='text']:hover{
    border: 1px solid #000;
}
input[type='email']:hover{
    border: 1px solid #000;
}
textarea{
    width: 100%;
    padding: 10px 20px 10px;
    background-color: transparent;
    border: 1px solid #999999;
    font-weight: lighter;
}
textarea:hover{
    border: 1px solid #000;
}

.custom-btn{
    border: 1px solid #222;
    border-radius: 0;
    padding: 10px 50px 10px;
    background-color: transparent;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
}
.custom-btn:hover{
    /* background-color: #fff;
    color: #f37039;
    border: 1px solid #f37039; */
    background-color: #f37039;
    color: #fff;
    border: 1px solid #fff;
}

.nav-link{
    font-size: 14px;
}

.social-icons span{
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px 5px;
    cursor: pointer;
}
.social-icons span:hover{
    border: 1px solid #f37039;
    color: #f37039;
}

.team-member{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #f37039;
}
.team-member img{
    width: 100%;
    height: 200px;
}
.team-member:hover{
    background-color: #222;
    color: #f37039;
    opacity: .9;
}

.social-icons-on-card span{
    border: 1px solid #f37039;
    color: #f37039;
    padding: 3px 6px 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.social-icons-on-card span:hover{
    border: 1px solid #fff;
    color: #fff;
}

.cursor-pointer{
    cursor: pointer;
}

.section-heading{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #404040;
    font-family: 'Ubuntu', sans-serif;
}
.section-paragraph{
    color: #707070;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
}

.top-banner-qots{
    font-size: large;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.top-banner-paragraph{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-sub-heading{
    color: #f37039;
    font-size: large;
}
@media (max-width:1024px){
    .top-banner-paragraph{
        font-size: 20px;
    }
    .section-heading{
        font-size: 25px;
    }
    .section-paragraph{
        font-size: 15px;
    }
    .carousel-container{
        height: 60vh;
    }
    .carousel-container h1{
        font-size: 20px;
    }
    .carousel-container p{
        font-size: 10px;
    }
    .section-sub-heading{
        font-size: 18px;
    }
    .section-1{
        height: 80vh;
    }

    .Quotes-title{
        font-size: 20px;
    }
    .Quotation-line{
        font-size: 17px;
    }
}